@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
/*  font-family: "Azeret Mono", monospace; */
.polash {
  border: 1px solid red;
}
/* nav section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 150px;
  margin-right: 166px;
  margin-top: 30px;
}
.nav_tittle {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 28px;
  font-weight: 800;
  text-align: left;
}

.nav_btn {
  width: 228px;
  height: 58px;
  font-family: "Azeret Mono", monospace;
  padding: 17px 24px 17px 24px;
  color: 1px Inside rgb(13, 19, 33);
  text-transform: capitalize;
  letter-spacing: 0;
}

/* nav end */

/* hero section style */
.hero {
  background-image: url(../assets/hero_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  padding-bottom: 44px;
}

.hero_img {
  max-width: 240px;
  height: 240px;
  margin: 26px auto;
}
.hero_img {
  width: 100%;
}
.hero_tittle {
  max-width: 998px;
  margin: 0px auto;
}
.hero_tittle_content {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  padding-top: 32px;
  font-family: "Azeret Mono", monospace;
}
.hero_description {
  text-align: center;
  padding-top: 24px;
  line-height: 23px;
  padding-left: 73px;
  padding-right: 73px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-family: "Azeret Mono", monospace;
  opacity: 0.7;
}
.hero_button {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.hero_btn {
  color: rgb(255, 255, 255);
  background-color: rgb(13, 19, 33);
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  padding: 21px 24px 21px 24px;
  font-family: "Azeret Mono", monospace;
}

/* development section style */

.development {
  max-width: 1140px;
  margin: 74px auto;
  background-color: rgba(13, 19, 33, 0.02);
  padding: 80px 97px;
  border-radius: 16px;
}

.devolopment_tittle {
  color: rgb(13, 19, 33);
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}
.devolopment_description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 26px;
  padding-top: 24px;
  padding-left: 47px;
  padding-right: 47px;
  opacity: 0.7;
}
/* development frist area */
.development_frist_area {
  margin-top: 48px;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );

  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  gap: 99px;
}
.development_frist_content {
  margin-top: 10.5px;
  margin-bottom: 9.5px;
}
.devolpment_frist_tittle {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.devolpment_frist_description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 16px;
  opacity: 0.7;
}

.development_frist_btn {
  margin-top: 32px;
  padding: 12px 20px 12px 20px;
  background-color: 1px Inside rgb(13, 19, 33);
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  opacity: 0.7;
}

/* development second area */
.development_second_area {
  margin-top: 32px;
  padding: 48px;
  border-radius: 16px;

  display: flex;
  gap: 32px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.development_second_content {
  margin-top: 10.5px;
  margin-bottom: 9.5px;
}
.devolpment_second_tittle {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.devolpment_second_description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 16px;
  opacity: 0.7;
}

.development_second_btn {
  margin-top: 32px;
  padding: 12px 20px 12px 20px;
  background-color: 1px Inside rgb(13, 19, 33);
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  opacity: 0.7;
}
/* development third section  */
.development_third_area {
  margin-top: 32px;
  padding: 48px;

  border-radius: 16px;

  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  justify-content: space-between;
  gap: 126px;
}

.development_third_content {
  margin-top: 10.5px;
  margin-bottom: 9.5px;
}
.devolpment_third_tittle {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.devolpment_third_description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 16px;
  opacity: 0.7;
}

.development_third_btn {
  margin-top: 32px;
  padding: 12px 20px 12px 20px;
  background-color: 1px Inside rgb(13, 19, 33);
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  opacity: 0.7;
}

/* inspiration section style */
.inspiration {
  max-width: 1140px;
  margin: 88px auto;
}

.inspiration_tittle {
  color: rgb(13, 19, 33);
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}

.inspiration_description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 24px;
  padding-left: 140px;
  padding-right: 140px;
  text-align: center;
  opacity: 0.7;
}
.iframe_content {
  margin-top: 48px;
  padding: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
.iframe_video {
  border: none;
}
iframe {
  border-radius: 16px;
}

/* current section style */

.current_target {
  max-width: 1140px;
  margin: 149px auto;
}
.current_tittle {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
}
.current_description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 24px;
  padding-left: 144px;
  padding-right: 144px;
  text-align: center;
  margin-bottom: 48px;
  opacity: 0.7;
}

.current_card {
  display: flex;
  gap: 24px;
}
.current_card_html_container {
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}

.current_card_css_container {
  padding: 40px;
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.current_card_java_container {
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}

.html_img {
  max-width: 56px;
  height: 56px;
}
.html_img img {
  width: 100%;
}
.card_html_tittle {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  margin-top: 24px;
  left: 8px;
}
.card_html_description {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  padding-top: 8px;
  padding-bottom: 24px;
  opacity: 0.7;
}
.card_html_ancor {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}

.css_img {
  max-width: 56px;
  height: 56px;
}
.css_img img {
  width: 100%;
}
.card_css_tittle {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  margin-top: 24px;
  left: 8px;
}
.card_css_description {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  padding-top: 8px;
  padding-bottom: 24px;
  opacity: 0.7;
}
.card_css_ancor {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}

.javascript_img {
  max-width: 56px;
  height: 56px;
  padding-left: 8px;
}
.javascript_img img {
  width: 100%;
}
.card_javascript_tittle {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  margin-top: 24px;
  left: 8px;
}
.card_javascript_description {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  padding-top: 8px;
  padding-bottom: 24px;
  opacity: 0.7;
}
.card_javascript_ancor {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}
/* next target section */

.next_target_container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 111px;
}

.next_target_tittle {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  padding-bottom: 24px;
}

.next_target_description {
  padding-left: 144px;
  padding-right: 144px;
  color: rgb(13, 19, 33);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.next_target_items {
  margin-top: 48px;
}

.next_target_reactjs_item {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  padding: 40px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  align-items: center;
}
.next_reactjs_tittle {
  font-size: 24px;
  font-weight: 800;
  color: rgb(13, 19, 33);
  padding-bottom: 8px;
}
.next_reactjs_description {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  opacity: 0.7;
  padding-bottom: 24px;
}

.next_reactjs_ancor {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
}
.next_target_nodejs_item {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  padding: 40px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  align-items: center;
  margin-top: 24px;
}

.next_nodejs_img {
  max-width: 144px;
}
.next_nodejs_img img {
  width: 100%;
}
.next_nodejs_tittle {
  font-size: 24px;
  font-weight: 800;
  color: rgb(13, 19, 33);
  padding-bottom: 8px;
}
.next_nodejs_description {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  opacity: 0.7;
  padding-bottom: 24px;
}
.next_nodejs_ancor {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
}
.next_target_mongojs_item {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  padding: 40px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  align-items: center;
  margin-top: 24px;
}
.next_mongojs_img {
  max-width: 144px;
}
.next_mongojs_img img {
  width: 100%;
}
.next_mongojs_tittle {
  font-size: 24px;
  font-weight: 800;
  color: rgb(13, 19, 33);
  padding-bottom: 8px;
}
.next_mongojs_description {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  opacity: 0.7;
  padding-bottom: 24px;
}
.next_mongojs_ancor {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
}
